GigaGallery/App_WebReferences/localhost/GigaGalleryWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gigagallery.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gigagallery.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gigagallery.net/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableSchemaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSelectQueryAndFetchData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paramField" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchParam" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="attrs" type="tns:ParamAttrs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ParamAttrs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isString" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="isDate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="isBool" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateSelectQueryAndFetchDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateSelectQueryAndFetchDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="GetConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Signup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserObjResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserBirthday" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserAlbumCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdminAddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="isadmin" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminAddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminAddUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAlbumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAlbumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="album_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image_file_path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEntireTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEntireTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectEntireTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumIdByUserIdAndAlbumName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ownerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="albumName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumIdByUserIdAndAlbumNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAlbumIdByUserIdAndAlbumNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAlbums">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAlbumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserAlbumsResult" type="tns:ArrayOfAlbum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAlbum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Album" nillable="true" type="tns:Album" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Album">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AlbumId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlbumOwnerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AlbumName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlbumCreationTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AlbumSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAlbumImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="albumId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlbumImagesResult" type="tns:ArrayOfImg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Img" nillable="true" type="tns:Img" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Img">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ImageId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageOwnerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageAlbumId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageCreationTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageFilePath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creation_time" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="album_size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAlbumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAlbumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updatedImage" type="tns:Img" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="album" type="tns:Album" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAlbumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAlbumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="image" type="tns:Img" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAlbumImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="album" type="tns:Album" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAlbumImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAlbumImagesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="albumId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlbumByIdResult" type="tns:Album" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableSchema" />
  </wsdl:message>
  <wsdl:message name="GetTableSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateSelectQueryAndFetchDataSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateSelectQueryAndFetchData" />
  </wsdl:message>
  <wsdl:message name="GenerateSelectQueryAndFetchDataSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateSelectQueryAndFetchDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="SignupSoapIn">
    <wsdl:part name="parameters" element="tns:Signup" />
  </wsdl:message>
  <wsdl:message name="SignupSoapOut">
    <wsdl:part name="parameters" element="tns:SignupResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserObj" />
  </wsdl:message>
  <wsdl:message name="GetUserObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserObjResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AdminAddUser" />
  </wsdl:message>
  <wsdl:message name="AdminAddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AdminAddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:AddAlbum" />
  </wsdl:message>
  <wsdl:message name="AddAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:AddAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="AddImageSoapIn">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="AddImageSoapOut">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="SelectEntireTableSoapIn">
    <wsdl:part name="parameters" element="tns:SelectEntireTable" />
  </wsdl:message>
  <wsdl:message name="SelectEntireTableSoapOut">
    <wsdl:part name="parameters" element="tns:SelectEntireTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlbumIdByUserIdAndAlbumNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlbumIdByUserIdAndAlbumName" />
  </wsdl:message>
  <wsdl:message name="GetAlbumIdByUserIdAndAlbumNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlbumIdByUserIdAndAlbumNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserAlbumsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserAlbums" />
  </wsdl:message>
  <wsdl:message name="GetUserAlbumsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlbumImagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlbumImages" />
  </wsdl:message>
  <wsdl:message name="GetAlbumImagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlbumImagesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAlbum" />
  </wsdl:message>
  <wsdl:message name="UpdateAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateImageSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateImage" />
  </wsdl:message>
  <wsdl:message name="UpdateImageSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateImageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAlbum" />
  </wsdl:message>
  <wsdl:message name="DeleteAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAlbumImagesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAlbumImages" />
  </wsdl:message>
  <wsdl:message name="DeleteAlbumImagesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAlbumImagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlbumByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlbumById" />
  </wsdl:message>
  <wsdl:message name="GetAlbumByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlbumByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="GigaGalleryWSSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableSchema">
      <wsdl:input message="tns:GetTableSchemaSoapIn" />
      <wsdl:output message="tns:GetTableSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSelectQueryAndFetchData">
      <wsdl:input message="tns:GenerateSelectQueryAndFetchDataSoapIn" />
      <wsdl:output message="tns:GenerateSelectQueryAndFetchDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <wsdl:input message="tns:GetConnectionStringSoapIn" />
      <wsdl:output message="tns:GetConnectionStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Signup">
      <wsdl:input message="tns:SignupSoapIn" />
      <wsdl:output message="tns:SignupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserObj">
      <wsdl:input message="tns:GetUserObjSoapIn" />
      <wsdl:output message="tns:GetUserObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminAddUser">
      <wsdl:input message="tns:AdminAddUserSoapIn" />
      <wsdl:output message="tns:AdminAddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <wsdl:input message="tns:AddAlbumSoapIn" />
      <wsdl:output message="tns:AddAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input message="tns:AddImageSoapIn" />
      <wsdl:output message="tns:AddImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectEntireTable">
      <wsdl:input message="tns:SelectEntireTableSoapIn" />
      <wsdl:output message="tns:SelectEntireTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumIdByUserIdAndAlbumName">
      <wsdl:input message="tns:GetAlbumIdByUserIdAndAlbumNameSoapIn" />
      <wsdl:output message="tns:GetAlbumIdByUserIdAndAlbumNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAlbums">
      <wsdl:input message="tns:GetUserAlbumsSoapIn" />
      <wsdl:output message="tns:GetUserAlbumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumImages">
      <wsdl:input message="tns:GetAlbumImagesSoapIn" />
      <wsdl:output message="tns:GetAlbumImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbum">
      <wsdl:input message="tns:UpdateAlbumSoapIn" />
      <wsdl:output message="tns:UpdateAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <wsdl:input message="tns:UpdateImageSoapIn" />
      <wsdl:output message="tns:UpdateImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <wsdl:input message="tns:DeleteAlbumSoapIn" />
      <wsdl:output message="tns:DeleteAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbumImages">
      <wsdl:input message="tns:DeleteAlbumImagesSoapIn" />
      <wsdl:output message="tns:DeleteAlbumImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumById">
      <wsdl:input message="tns:GetAlbumByIdSoapIn" />
      <wsdl:output message="tns:GetAlbumByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GigaGalleryWSSoap" type="tns:GigaGalleryWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://gigagallery.net/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableSchema">
      <soap:operation soapAction="http://gigagallery.net/GetTableSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSelectQueryAndFetchData">
      <soap:operation soapAction="http://gigagallery.net/GenerateSelectQueryAndFetchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <soap:operation soapAction="http://gigagallery.net/GetConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signup">
      <soap:operation soapAction="http://gigagallery.net/Signup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserObj">
      <soap:operation soapAction="http://gigagallery.net/GetUserObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminAddUser">
      <soap:operation soapAction="http://gigagallery.net/AdminAddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <soap:operation soapAction="http://gigagallery.net/AddAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://gigagallery.net/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEntireTable">
      <soap:operation soapAction="http://gigagallery.net/SelectEntireTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumIdByUserIdAndAlbumName">
      <soap:operation soapAction="http://gigagallery.net/GetAlbumIdByUserIdAndAlbumName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAlbums">
      <soap:operation soapAction="http://gigagallery.net/GetUserAlbums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumImages">
      <soap:operation soapAction="http://gigagallery.net/GetAlbumImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbum">
      <soap:operation soapAction="http://gigagallery.net/UpdateAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <soap:operation soapAction="http://gigagallery.net/UpdateImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <soap:operation soapAction="http://gigagallery.net/DeleteAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://gigagallery.net/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbumImages">
      <soap:operation soapAction="http://gigagallery.net/DeleteAlbumImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumById">
      <soap:operation soapAction="http://gigagallery.net/GetAlbumById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GigaGalleryWSSoap12" type="tns:GigaGalleryWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://gigagallery.net/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableSchema">
      <soap12:operation soapAction="http://gigagallery.net/GetTableSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSelectQueryAndFetchData">
      <soap12:operation soapAction="http://gigagallery.net/GenerateSelectQueryAndFetchData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <soap12:operation soapAction="http://gigagallery.net/GetConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signup">
      <soap12:operation soapAction="http://gigagallery.net/Signup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserObj">
      <soap12:operation soapAction="http://gigagallery.net/GetUserObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminAddUser">
      <soap12:operation soapAction="http://gigagallery.net/AdminAddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <soap12:operation soapAction="http://gigagallery.net/AddAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap12:operation soapAction="http://gigagallery.net/AddImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEntireTable">
      <soap12:operation soapAction="http://gigagallery.net/SelectEntireTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumIdByUserIdAndAlbumName">
      <soap12:operation soapAction="http://gigagallery.net/GetAlbumIdByUserIdAndAlbumName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAlbums">
      <soap12:operation soapAction="http://gigagallery.net/GetUserAlbums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumImages">
      <soap12:operation soapAction="http://gigagallery.net/GetAlbumImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbum">
      <soap12:operation soapAction="http://gigagallery.net/UpdateAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <soap12:operation soapAction="http://gigagallery.net/UpdateImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <soap12:operation soapAction="http://gigagallery.net/DeleteAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://gigagallery.net/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbumImages">
      <soap12:operation soapAction="http://gigagallery.net/DeleteAlbumImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumById">
      <soap12:operation soapAction="http://gigagallery.net/GetAlbumById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GigaGalleryWS">
    <wsdl:port name="GigaGalleryWSSoap" binding="tns:GigaGalleryWSSoap">
      <soap:address location="http://localhost:1242/GigaGalleryWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GigaGalleryWSSoap12" binding="tns:GigaGalleryWSSoap12">
      <soap12:address location="http://localhost:1242/GigaGalleryWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>