GigaGallery/App_WebReferences/localhost/GigaGalleryWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gigagallery.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gigagallery.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gigagallery.net/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="GetConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPasswordLengthResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmailLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmailLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckEmailLengthResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Signup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserObjResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserBirthday" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserAlbumCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdminAddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="isadmin" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminAddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminAddUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAlbumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAlbumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="album_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordLengthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPasswordLength" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordLengthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPasswordLengthResponse" />
  </wsdl:message>
  <wsdl:message name="CheckEmailLengthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckEmailLength" />
  </wsdl:message>
  <wsdl:message name="CheckEmailLengthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckEmailLengthResponse" />
  </wsdl:message>
  <wsdl:message name="SignupSoapIn">
    <wsdl:part name="parameters" element="tns:Signup" />
  </wsdl:message>
  <wsdl:message name="SignupSoapOut">
    <wsdl:part name="parameters" element="tns:SignupResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserObj" />
  </wsdl:message>
  <wsdl:message name="GetUserObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserObjResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AdminAddUser" />
  </wsdl:message>
  <wsdl:message name="AdminAddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AdminAddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:AddAlbum" />
  </wsdl:message>
  <wsdl:message name="AddAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:AddAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="AddImageSoapIn">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="AddImageSoapOut">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="GigaGalleryWSSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <wsdl:input message="tns:GetConnectionStringSoapIn" />
      <wsdl:output message="tns:GetConnectionStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordLength">
      <wsdl:input message="tns:CheckPasswordLengthSoapIn" />
      <wsdl:output message="tns:CheckPasswordLengthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmailLength">
      <wsdl:input message="tns:CheckEmailLengthSoapIn" />
      <wsdl:output message="tns:CheckEmailLengthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Signup">
      <wsdl:input message="tns:SignupSoapIn" />
      <wsdl:output message="tns:SignupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserObj">
      <wsdl:input message="tns:GetUserObjSoapIn" />
      <wsdl:output message="tns:GetUserObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminAddUser">
      <wsdl:input message="tns:AdminAddUserSoapIn" />
      <wsdl:output message="tns:AdminAddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <wsdl:input message="tns:AddAlbumSoapIn" />
      <wsdl:output message="tns:AddAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input message="tns:AddImageSoapIn" />
      <wsdl:output message="tns:AddImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GigaGalleryWSSoap" type="tns:GigaGalleryWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://gigagallery.net/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <soap:operation soapAction="http://gigagallery.net/GetConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordLength">
      <soap:operation soapAction="http://gigagallery.net/CheckPasswordLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmailLength">
      <soap:operation soapAction="http://gigagallery.net/CheckEmailLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signup">
      <soap:operation soapAction="http://gigagallery.net/Signup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserObj">
      <soap:operation soapAction="http://gigagallery.net/GetUserObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminAddUser">
      <soap:operation soapAction="http://gigagallery.net/AdminAddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <soap:operation soapAction="http://gigagallery.net/AddAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://gigagallery.net/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://gigagallery.net/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GigaGalleryWSSoap12" type="tns:GigaGalleryWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://gigagallery.net/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <soap12:operation soapAction="http://gigagallery.net/GetConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordLength">
      <soap12:operation soapAction="http://gigagallery.net/CheckPasswordLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmailLength">
      <soap12:operation soapAction="http://gigagallery.net/CheckEmailLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signup">
      <soap12:operation soapAction="http://gigagallery.net/Signup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserObj">
      <soap12:operation soapAction="http://gigagallery.net/GetUserObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminAddUser">
      <soap12:operation soapAction="http://gigagallery.net/AdminAddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <soap12:operation soapAction="http://gigagallery.net/AddAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap12:operation soapAction="http://gigagallery.net/AddImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://gigagallery.net/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GigaGalleryWS">
    <wsdl:port name="GigaGalleryWSSoap" binding="tns:GigaGalleryWSSoap">
      <soap:address location="http://localhost:1242/GigaGalleryWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GigaGalleryWSSoap12" binding="tns:GigaGalleryWSSoap12">
      <soap12:address location="http://localhost:1242/GigaGalleryWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>